<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>404 - Not Found</h1>
        This page might have been removed or rerouted.
        <br>
        If you got here from an outdated link on the site, please make an issue on github or contact @Omena0 on discord.
    </body>
</html>